.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  font-size: 0;
}

@media (max-width:767.98px) {
  .footer__menu {
    flex-direction: column;
    row-gap: 32px;
  }
}
