.header {
  display: flex;
  max-width: 1184px;
  margin: auto;
  padding: 28px 16px 0 16px;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 769px) {
  .header {
    max-width: 720px;
  }
}

