.logo {
  height: 52px;
  width: 176px;
}

@media screen and (max-width: 768px){
  .logo {
    height: 42px;
    width: 142px;
  }
}


@media (max-width: 1279px) {

}

@media (max-width: 768px) {

}

@media (max-width: 320px) {

}
