.places__text-wrapper {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

@media (max-width: 540px) {
  .places__text-wrapper {
    font-size: 18px;
  }
}
