.places__card {
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
}

@media (max-width: 1279.98px) {
  .places__card {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap:32px;
  }
}

@media (max-width: 1023.98px) {
  .places__card {
    grid-template-columns: fit-content(340px) 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 767.98px) {
  .places__card {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
