.places__link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media (max-width:767.98px) {
  .places__link-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
